/* styling for tribe events & tribe events shortcode....
*/

	/* ecs shortcode */
	ul.ecs-event-list {
		list-style-type: none;
		li.ecs-event {
			padding-bottom: 10px;
			h4.entry-title {
				margin-bottom: 0px;
				a {
					padding-bottom: 0px;
				}
			}
			p .duration {
				font-size: smaller;
			}
			img.wp-post-image {
				border: 1px solid $woodlawn-primary;
				margin-right: 5px;
			}

		}
	}
	.woodlawn-events-home {
		ul.ecs-event-list {
			li.ecs-event {
				text-align: center;
			}
			li.ecs-event:not(:last-child) {
				padding-bottom: 20px;
			}
		}
	}

	/* single event */
	.tribe-events-single {
		.tribe-events-event-image {
			float: left;
			margin-right: 10px;
			max-width: 60%;
		}
		.tribe-events-single-section.tribe-events-event-meta {
			clear: both;
			.tribe-events-meta-group-venue  {
				width: initial;
			}
		}
		.tribe-events-schedule{
			h2 {
				font-size: 1.25em;
			}
		}
	}

	// category archive, month list, search results.
	.tribe-events-list {
		.tribe-events-loop {
			.type-tribe_events {
				.tribe-events-event-image {
					margin-right: 0px;
					padding-right: 2%;
					max-width: 40%; // see media below
					img {
						width: inherit;
					}
				}
				.tribe-events-content {
					padding-right: 0px;
					width: 60%;
					//max-width: 60%;
				}
			}
		}

	}
	// mobile calendar list.
	@media only screen and (max-width: 768px) {
		.tribe-events-list {
			.tribe-events-loop {
				.type-tribe_events {
					.tribe-events-event-image {
					}
					.tribe-events-content {
						float: left;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 460px) {
		.tribe-events-list {
			.tribe-events-loop {
				.type-tribe_events {
					.tribe-events-event-image {
						text-align: center;
						padding-right: 0px;
						max-width: 100%;
						width: 100%;
						padding-bottom: 10px;
					}
					.tribe-events-content {
						width: 100%;
						float: none;
					}
				}
			}
		}
	}
	#tribe-events-content.tribe-events-list{
		margin-bottom: 0px;
	}
	#tribe-bar-form .tribe-bar-submit input[type=submit] {
		background-color: $woodlawn-secondary;
	}

	 /*  month calendar */
	 // display/show nav at top.
	 #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next a,
	 #tribe-events-header .tribe-events-sub-nav li {
	 	display: inline-block;
	 }

// tickets on events.
.tribe-events-tickets {
	.tribe-tickets-attendees-list-optout {
		display: none;
	}
}
// dont show the number remaining if managing stock.
.tribe-tickets-remaining {
	display: none;
}
