/* styling for woocommerce ....
*/
input#nyp { // name your price input box.
	max-width: 120px;
	color: #222;
}
.price .pro_price_extra_info {  // tax included part.
	font-weight: normal;
}


.product-addon input[type="number"].addon-input_multiplier,
.product-addon input[type="number"].addon-custom-price {
	max-width: 120px;
}

label.screen-reader-text {
	display: none;
}

// single product
.product {
	// product add ons
	.wc-pao-addons-container {
		.wc-pao-addon-container.wc-pao-addon {
			p.form-row {
				margin-top: 0px;
				input {
					margin-bottom: 0px;
				}
			}

		}
	}
}
